
/* Contextual links */

.tutorials {
  display: none;
}

.tutorials-wrapper {
  position: absolute !important;
  top: 2px !important;
  right: 2px !important;
  z-index: 999 !important;
}

a.tutorials-toggler  {
  background: transparent url(../images/gear-select.png) no-repeat 2px 0 !important;
  display: block !important;
  height: 18px !important;
  margin: 2px 1px 0 1px !important;
  padding: 0 2px !important;
  outline: none !important;
  text-indent: -9999px !important;
  width: 36px !important;
  overflow: hidden !important;
  z-index: 1;
  border-radius-topleft: 4px;
  border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius-topleft: 4px;
  -webkit-border-radius-topright: 4px;
}

a.tutorials-toggler:hover,
a.tutorials-toggler-active {
	background-position: 2px -18px !important;
}

a.tutorials-toggler-active {
  background-color: #fff !important;
  border: #ccc 1px solid !important;
  border-bottom: none !important;
  padding: 0 2px !important;
  margin: 1px 0 0 0 !important;
  position: relative !important;
}

.tutorials-wrapper ul.tutorials-links {
  padding: 0 !important;
  background-color: #fff !important;
  clear: both !important;
  width: auto !important;
  margin: 0 !important;
  border: 1px solid #ccc;
  position: absolute;
  top: 19px;
  right: 0;
  padding: 0.25em 0;
  white-space: nowrap;
}

.tutorials-wrapper ul li,
.tutorials-wrapper ul li.odd,
.tutorials-wrapper ul li.even,
.tutorials-wrapper ul li.first,
.tutorials-wrapper ul li.last       {
  padding: 0 !important;
  border: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 0 !important;
  background-color: transparent !important;
  background-image: none !important;
}

.tutorials-wrapper ul li a {
  color: #333 !important;
  display:block !important;
  line-height: 20px !important;
  text-decoration: none !important;
  border: none !important;
  text-align: left !important;
  padding: 2px 1em !important;
  font-size: 11px !important;
  background-image: none !important;
}

.tutorials-wrapper ul li a:hover {
  color: #fff !important;
  background-color: #999 !important;
  background-image: none !important;
}

/* Border */

div.tutorials-border {
  filter:alpha(opacity=25);
  -moz-opacity:0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
  position:absolute;
  left:-3px;
  right:-3px;
  top:-3px;
  bottom:-3px;
  height:3px;
  width:3px;
  background:#666;
}

.tutorials-region-active div.tutorials-border-top {
  left:0px; right:0px;
  width:auto;
  bottom:auto;
}

.tutorials-region-active div.tutorials-border-bottom {
  left:0px; right:0px;
  width:auto;
  top:auto;
}

.tutorials-region-active div.tutorials-border-left {
  height:auto;
  right:auto;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius-:5px;
}

.tutorials-region-active div.tutorials-border-right {
  height:auto;
  left:auto;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius-:5px;
}

#tutorials-popup {
  background-color: #eeeeee;
  border: 1px solid #dcdcdc;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius: 8px;
  display:none;
  left: 50%;
  padding: 8px;
  position: absolute;
  top: 100px;
}

#tutorials-popup-title {
  float:left;
}

#tutorials-popup-body {
  
}

#tutorials-popup-close {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  float: right;
  margin-top: 2px;
  position: relative;
  text-align: right;
  width: 20px;
}










